@use "../../styles/globals" as g;

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 100vh;
  background-color: g.$color-gray;
  opacity: 0.5;
  z-index: 2;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 15px;
  padding: 15px;
  border: g.$border;
  border-radius: g.$border-radius;
  background-color: g.$color-dark;
  z-index: 3;

  &__title {
    font-size: 14px;
  }
  &__paragraph {
    font-size: 20px;
  }
  &__btn {
    align-self: center;
    width: 100px;
  }
}
