@use "./globals" as g;

@font-face {
  @include g.font-text("Medium", 500);
}

@font-face {
  @include g.font-text("Bold", 700);
}

body {
  @include g.style-text();

  background-color: g.$color-dark;
}

h1,
h2,
h3,
h4 {
  @include g.style-text(24);
  text-transform: uppercase;
}

input {
  padding: 10px;
  color: g.$color-light;
  border: g.$border;
  border-radius: g.$border-radius;
  outline: none;
  background-color: transparent;
  transition-duration: g.$transition-duration;

  &:hover {
    border-color: g.$color-red;
  }

  &:focus {
    border-color: g.$color-red;
  }
}

button {
  @include g.style-text(18);

  cursor: pointer;
  padding: 6px 10px;
  color: g.$color-light;
  border: none;
  border-radius: g.$border-radius;
  background-color: g.$color-gray;
  transition-duration: g.$transition-duration;

  &:hover {
    background-color: g.$color-dark-red;
  }

  &:active {
    background-color: g.$color-red;
  }

  &:focus {
    outline: none;
    background-color: g.$color-dark-red;
  }
}

.container {
  display: grid;
  align-items: flex-start;
  max-width: g.$container-width + g.$container-padding-x * 2;
  margin-inline: auto;
  padding: g.$container-padding-x;
  height: 100vh;
}
