$color-dark: #1a1a1d;
$color-gray: #4e4e50;
$color-dark-red: #950740;
$color-red: #c3073f;
$color-light: #ffffff;

$font-family: "Acrom", sans-serif;

$border: 2px solid $color-dark-red;
$border-radius: 15px;

$btn-height: 40px;

$transition-duration: 0.2s;

$container-width: 1000px;
$container-padding-x: 30px;
