@use "./assets/styles/variables" as v;

.todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 25px;
  background-color: v.$color-black;
  padding-block: 20px;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 100%;
  }
}