$color-dark: #1e1f25;
$color-black: #0e0e11;
$color-light: #ffffff;
$color-purple: #9494b8;

$font-family: "Acrom", sans-serif;

$border: 2px solid $color-dark;
$border-radius: 15px;

$btn-height: 40px;

$transition-duration: 0.2s;

$container-width: 600px;
$container-padding-x: 30px;
