$color-dark: #1e1f25;
$color-black: #0e0e11;
$color-light: #ffffff;
$color-purple: #9494b8;

$border-radius: 15px;

$btn-height: 56px;

$transition-duration: 0.2s;

$container-width: 1440px;
$container-padding-x: 30px;